.App {

  margin: 100px;
}
.title{
  display: flex;
  align-items: center;
}
.todo_lists{
  display: flex;
}
.item_list{
  list-style: none;
}

.complete_task{
  background: #b9b9b9;
}
.active_button{
  background: #fe5900;
}
.error{
  color:red;
  font-weight: bold;
}
.error_input{
  border:1px solid red;
  outline: red;
}